			/*demo page css*/
			body{
			font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;
			font-size:10px;
			}
		    
		    .tareasNotaRecepcion{
		    	padding:15px 15px 15px 15px;
		    	text-align:justify;
		    }
		    
			
			.altura{
				height:700px;
			}
			.alturaPestanas{
				height:750px;
			}
			.scroll {
            	overflow: auto;
        	}
			.divPestana{
				padding-left:0px;
			}
			.borde{
				border-style:solid;
				border-width:1px;
				border-color:gray;
			}
			
			.tituloCuadroBusqueda{
				height:30px;
				margin-bottom:10px;
				text-align:center;
				font-size:14px;
				font-weight:bold;
			}
			div.resultadoBusqueda{
				height:460px;
				padding-top: 10px;
				padding-bottom: 10px;
				overflow-y:scroll;
			}
			
			div.botonesBusqueda{
				height:270px;
				padding-top:10px;
				text-align:center;
				
			}
			div.botonesBusquedaIzq{
				border-width:1px 0px 1px 1px;
				border-radius: 5px 0px 0px 5px;
				border-style:solid;
				border-color:#DDD;
			}
			
			div.botonesBusqueda > div{
			margin-left:-5px;
			}
			
			div.botonesBusquedaDer{
				border-width:1px 1px 1px 0px;
				border-radius: 0px 5px 5px 0px;
				border-style:solid;
				border-color:#DDD;
			}
			
			
			.botonesBusqueda input{
				font-size:15px;
				font-weight:bold;
				color:#555555;
				margin-bottom:5px;
			}
			.botonesBusqueda label{
				font-size:12px;
				font-weight:bold;
				margin-left:10px;
			}
			
			input.botonBusqueda{
			margin-left:75px;
			}
			
			.botonesBusqueda > div{
				height:15px;
				text-align:right;
				padding-right:8px;
			}
			div.labelBusquedaContainer{
				display:block;
				float:left;
				text-align:left;
				
			}
			
			/* ESTILO DE LA LISTA DE RESULTADOS*/


			div.resultadoBusqueda{
				height:355px;
			}
			
			.resultadoBusqueda ul, .tareasListaTareas ul
			{
			margin-left: 0;
			padding-left: 0;
			list-style-type: none;
			font-family: Arial, Helvetica, sans-serif;
			}
			
			.resultadoBusqueda a, .tareasListaTareas a
			{
			display: block;
			padding: 5px;
			background-color: #EEE;
			border-bottom: 1px solid #eee;
			}
			.resultadoBusqueda a.odd, .tareasListaTareas a.odd{
				background-color: #FFF;
			}
			
			.resultadoBusqueda a:link, #navlist a:visited, .tareasListaTareas a:link
			{
			color: #000;
			text-decoration: none;
			}
			
			.resultadoBusqueda a:hover, .tareasListaTareas a:hover
			{
			background-color: #999;
			color: #FFF;
			}
			
			/* FIN ESTILO DE LA LISTA DE RESULTADOS*/
			
			.detalleExpediente{
				height:335px;
				border-bottom:solid 10px #999;
			}
			
			.datoIzquierda{
				height:30px;
				margin-top:3px;
				margin-left: 20px;
			}
			
			.datoDerecha{
				height:30px;
				text-align:left;
			}
			div.intervinientes{
				height:150px;
			}
			div.pieResumen{
				margin-top:20px;
				padding-left:20px;
				height: 25px;
				min-height:25px;
				min-height:auto !important;
			}
			.recorrido{
				margin-top:10px;
				height:150px;
			}
			.descripcionRecorrido{
				height:188px;
				overflow-y:scroll;
			}
			.detalleDescripcionRecorrido{
				padding:20px 20px 20px 20px;
				text-align: justify;
				overflow-y:auto;
			}
			
			.borde{
				border:1px solid gray;
			}
			
			.descripcionBuzon > table > tbody{
				height:500px;
			}
			
			/**
			ESTILOS ADICIONALES PARA EL ARBOL
			**/
			
			.readed{
				text-color:gray;
				color:gray;
			}
			
			/**
			FIN ESTILOS ADICIONALES PARA EL ARBOL
			**/
			
			table#tablaTareasIntervinientes > tbody, table#tablaBuzonIntervinientes > tbody, table#tablaSeguimientoExpedienteRecorrido > tbody, table#tablaSeguimientoExpedienteIntervinientes > tbody{
				
				overflow-y:scroll;
				overflow-x:hidden;
			}
			
			.user-ico{
				background-image: url('../ico/user1.png') !important;
				width: 16px;
				height: 16px;
			}
			
			.add-user{
				background-image: url("../ico/user_male_add.png") !important;
			}
			
			.del-user{
				background-image: url("../ico/user_male_delete.png") !important;
			}
			
			.password{
				background-image: url("../ico/key.png") !important;
			} 
			
			.sobre{
				background-image: url('../ico/email_open.png');
				position:absolute;
				background-repeat:no-repeat;
				vertical-align: middle;
				top:0;
				left:0;
				right:auto;
				bottom:0;
				width:50px;
				height:50px;
			}
			
			.info-ico{
				background-image: url('../ico/information.png');
			}
			
			.transferir{
				background-image: url('../ico/transferir.png');
			}
			
			.activar{
				background-image: url('../ico/activar.png');
			}
			
			.aceptar{
				background-image: url('../ico/aceptar.png');
			}
			
			.refresh{
				background-image: url('../ico/gnome_view_refresh.png');
				width: 16px;
				height: 16px;
			}
			
			.search{
				background-image: url('../ico/search.png');
			}
			
			.deshacer{
				background-image: url('../ico/undo.ico');
			}
			
			.cancelar{
				background-image: url('../ico/cancel.png');
			}
			
			.check-ok{
				background-image: url('../ico/tick.png');
			}
			
			.check-nok{
				background-image: url('../ico/cross.png');
			}
			
			.finalizar{
				background-image: url('../ico/close.png');
			}
			.time{
				background-image: url('../ico/player_time.png') !important;
			}
			.calendar{
				background-image: url('../ico/calendar.png') !important;
			}
			.doc_web{
				background-image: url('../ico/www.png') !important;
			}
			.world{
				background-image: url('../ico/netscape.png') !important;
			}
			.file{
				background-image: url('../ico/readme.png') !important;
			}
			.upload{
				background-image: url('../ico/image-up-icon.png') !important;
			}
			.new_dir{
				background-image: url('../ico/folder-add-icon.png') !important;
			}
			.del_dir{
				background-image: url('../ico/folder-delete-icon.png') !important;
			}
			.new_doc{
				background-image: url('../ico/document-new.png') !important;
			}
			.edit_doc{
				background-image: url('../ico/document_pencil.png') !important;
			}
			.del_doc{
				background-image: url('../ico/Actions-document-close-icon.png') !important;
			}
			.add{
				background-image: url('../ico/add-icon.png') !important;
			}
			.cancel{
				background-image: url('../ico/Actions-window-close-icon.png') !important;
			}
			.remove-picture{
				background-image: url('../ico/image-remove-icon.png') !important;
			}
			.view-picture{
				background-image: url('../ico/1-Pictures-icon.png') !important;
			}
			.logout{
				background-image: url('../ico/logout.png') !important;
			}
			.next{
				background-image: url('../ico/Next.png') !important;
			}
			.back{
				background-image: url('../ico/Previous.png') !important;
			}
			.x-style-html-body{
				background-color: #043A6B;
			}
			/*.folder{
				border-color: #99BBE8 !important;
				border-style: solid !important;
				border-width: 0 0 2px !important;
				cursor: pointer;
				color: #3764A0 !important;				
			}*/
			/*.x-grid-row-selected{
				background-color: #FFC4C4;
			}
			
			.x-grid-row .x-grid-cell,.x-grid-row .x-grid-rowwrap-div{
				background-color: #FFDDDD;
			}*/
			
			/*.x-treegrid-row .x-grid-cell,.x-treegrid-row .x-grid-rowwrap-div{
				background-color: #FFFFFF;
				border-color: #99BBE8 !important;
				border-style: solid !important;
				border-width: 0 0 2px !important;
				color: #3764A0 !important;	
			}*/			
			
			/*.x-grid-row-alt .x-grid-cell,.x-grid-row-alt .x-grid-rowwrap-div{
				background-color:#FFEEEE;
			}
			
			.x-grid-row-over .x-grid-cell,.x-grid-row-over .x-grid-rowwrap-div{
				border-color:#FFD5D5;
				background-color:#FFD5D5
			}
			
			.x-grid-row-selected .x-grid-cell,.x-grid-row-selected .x-grid-rowwrap-div{
				border-style:dotted;
				border-color:#FFC4C4;
				background-color:#FFC4C4 !important
			}
			
			.x-treegrid-row-over .x-grid-cell, .x-treegrid-row-over .x-grid.rowwrap-div{
				border-color:#dddddd;
				background-color:#efefef
			}*/
			
			